@using EShop.Models
@model List<Product>

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Witaj w  Esklepie</h1>
                <p class="lead fw-normal text-white-50 mb-0">Jesteśmy zawsze wtedy, gdy czegoś potrzebujesz</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-2">
        <div class="container px-2 px-lg-2 mt-4">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @if (Model.Count() > 0)
                {
                    @foreach (var product in Model)
                    {
                        if (product.IsFavorite == true)
                        {
                            <div class="col-4 mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" width="450px" height="300px" src="@product.CoverImageUrl" alt="Card Image" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">@product.Name</h5>
                                            <!-- Product price-->
                                            @product.Price zł
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <div class="btn-group" role="group">
                                                <div class="text-center mr-3">
                                                    <a asp-action="Details" asp-controller="Favorite" asp-route-id="@product.Id" class="btn btn-outline-dark mt-auto">
                                                        Pokaż więcej
                                                    </a>
                                                </div>
                                                <div class="text-center">
                                                    <a asp-action="IsFavorite" asp-controller="Favorite" asp-route-id="@product.Id" class="btn btn-warning mt-auto">
                                                        <i class="far fa-star"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <h2>Nie ma żadnych ulubionych produktów</h2>
                }
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
    </footer>

