@model IEnumerable<EShop.Models.Order>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 pb-4">
            <h2 class="text-primary display-4">Lista zamówień</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="OrderAdminRealized" asp-action="Index" class="btn btn-primary">
                Przejdź do zrealizowanych zamówień
            </a>
        </div>
    </div>
</div>


@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width:100%" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th>
                    Numer zamówienia
                </th>
                <th>
                    Email
                </th>
                <th>
                    Data zamówienia
                </th>
                <th>
                    Imię i Nazwisko
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
            <tr>
                <td width="5%">@obj.OrderNumber</td>
                <td width="22%">@obj.Email</td>
                <td width="15%">@obj.OrderDate</td>
                <td width="20%">@obj.FirstName @obj.LastName</td>
                <td class="text-center">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="OrderAdmin" asp-route-Id="@obj.Id" asp-action="IsRealized" class="btn btn-primary mx-2">
                            <i class="fas fa-check-circle"></i>
                        </a>
                        <a asp-controller="OrderAdmin" asp-route-Id="@obj.Id" asp-action="Details" class="btn btn-success mx-2">
                            <i class="fas fa-list-ul"></i>
                        </a>
                        <a asp-controller="OrderAdmin" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </div>
                </td>
            </tr>
            }

        </tbody>
    </table>
}
else
{
    <div>
        <h2>Brak zamówień</h2>
    </div>
}

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
            $(function() {
                var del = '@TempData["delete"]'
                if (del != '') {
                    alertify.success(del);
                }
            })
            $(document).ready(function () {
                $('#myTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5'
                    ]
                });
            });
    </script>
}

